doctype
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")

    title npm downloads
  
    script(src="pkgs.js")
    script(src="index.js")
    link(rel="stylesheet" href="index.css")
  body(ng-app="npm")
    md-content(layout="column" layout-fill)
      md-toolbar
        .md-toolbar-tools
          md-button.md-icon-button(
            aria-label='Add author'
            ng-click="add($event)"
          )
            md-icon add_user
          h2
            md-button(ui-sref="top") Npm downloads
          
          md-menu.periods
            md-button.md-icon-button.md-accent(flex ng-click="$mdOpenMenu()")
              md-icon(md-menu-origin) query_builder
            md-menu-content(width="4")
              md-menu-item
                md-button(
                  ng-class="{'md-raised':$root.period=='weekly'}"
                  ng-click="$root.period='weekly'"
                )
                  | weekly
              md-menu-item
                md-button(
                  ng-class="{'md-raised':$root.period=='monthly'}"
                  ng-click="$root.period='monthly'"
                )
                  | monthly
              md-menu-item
                md-button(
                  ng-class="{'md-raised':$root.period=='yearly'}"
                  ng-click="$root.period='yearly'"
                )
                  | yearly

          section.periods(flex layout='row' layout-align='center')
            md-button.md-accent(
              ng-class="{'md-raised':period=='weekly'}"
              ng-click="period='weekly'"
            )
              | weekly
            md-button.md-accent(
              ng-class="{'md-raised':period=='monthly'}"
              ng-click="period='monthly'"
            )
              | monthly
            md-button.md-accent(
              ng-class="{'md-raised':period=='yearly'}"
              ng-click="period='yearly'"
            )
              | yearly
            
          md-button(ng-href="https://github.com/59naga/npm.berabou.me")
            | Fork me on github
            md-icon device_hub
      
      main(style="position:relative")
        ui-view

    md-toolbar(layout="row")
      span(flex)
      md-button(ng-href="https://github.com/npm/download-counts")
        | Powerd by npm/download-counts
